* {
  margin: 0;
  padding: 0;
}

/* Creating Calculator */
.container {
  margin: 0 auto;
  width: 400px;
  height: auto;
}
.container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body h1 {
  text-align: center;
  margin: 10px 0px;
}
header #display {
  border: 2px solid black;
  width: 400px;
  height: 70px;
  border-radius: 5px;
  direction: rtl;
  font-size: 30px;
}
main {
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-rows: repeat(4, 1fr); */
}
main > div {
  flex-grow: 1;
  width: 90px;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
main > div:hover {
  background-color: rgb(171, 171, 162);
}
main > div > button {
  font-weight: bolder;
  border: none;
  background: none;
  color: white;
  font-size: large;
}
main .arithmetic-operators {
  background-color: blueviolet;
}
main .equal-operator {
  background-color: rgb(180, 180, 64);
}
