* {
  margin: 0;
  padding: 0;
}

/* Navbar start */
.nav-container {
  text-align: center;
}
.nav-text {
  margin-top: 2em;
}
.nav-text h1 {
  font-family: "Lora", serif;
  font-size: 2rem;
  color: #143774;
}
.nav-text h6 {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.75rem;
  color: #1792d2;
}
nav li {
  list-style: none;
  margin: 1em 0;
}
nav a {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.87rem;
  font-weight: bold;
  text-decoration: none;
  color: #707070;
}
nav a:hover,
nav a:focus {
  color: red;
  border-bottom: 2px solid #707070;
}

@media (min-width: 768px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav li {
    float: left;
    margin: 0 1.5em;
  }
}
/* font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif; */
