* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.125rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
}
.container {
  max-width: 980px;
  margin: 0 auto;
}
/* Navbar start */
.nav-container {
  text-align: center;
  background: aliceblue;
  padding: 2em;
}
.nav-text h1 {
  font-family: "Lora", serif;
  font-size: 2rem;
  color: #143774;
}
.nav-text h6 {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.75rem;
  color: #1792d2;
}
nav li {
  list-style: none;
  margin: 1em 0;
}
nav a {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.87rem;
  font-weight: bold;
  text-decoration: none;
  color: #707070;
}
nav a:hover,
nav a:focus {
  color: red;
  border-bottom: 2px solid #707070;
}

@media (min-width: 768px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav li {
    float: left;
    margin: 0 1.5em;
  }
  .nav-text {
    text-align: left;
  }
}
/* Navbar end */

/* font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif; */

/*  */
.main-container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .main {
    width: 70%;
  }
  .sidebar {
    width: 25%;
  }
}
main h2 {
  font-size: 1.5rem;
  font-family: "Lora", serif;
  color: #143774;
  font-weight: lighter;
}
.top-section {
  margin: 1em 0 0 0;
}
.top-section img {
  max-width: 100%;
}
.top-section h6 {
  margin: 1em 0;
}
.top-section p {
  text-align: justify;
  margin: 1em 0;
}

/* articel section */

#buttom-line {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #1792d2;
  border-bottom: 1.5px solid black;
  padding: 1em 0;
}
.article-contant h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  color: #1792d2;
}

.article-contant img {
  min-width: 100%;
  margin: 1em 0;
}
.article-contant p {
  margin: 1em 0;
}
.article-flex h6 {
  display: inline-block;
  float: right;
  margin-bottom: -5px;
}
/* side var */
.about-me h2 {
  visibility: hidden;
}
.about-me img {
  max-width: 100%;
}
.about-me {
  box-sizing: border-box;
  padding: 2em;
  margin: 1em 0;
  border: 15px solid rgb(220, 219, 219);
}
/* recent items */
.recent-items {
  box-sizing: border-box;
  padding: 2em;
  border: 15px solid rgb(220, 219, 219);
}
.recent-items div {
  margin: 1em 0;
}
.recent-items img {
  min-width: 100%;
}
.recent-items div h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #1792d2;
}

@media (min-width: 768px) {
  .about-me h2 {
    visibility: visible;
    margin-bottom: 1em;
  }
  .about-me p {
    margin: 1em 0;
  }
  .recent-items img {
    max-width: 100%;
  }
}
/* recent items end */
.main-container h6 {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.875rem;
  font-weight: lighter;
}
.sidebar h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: #143774;
}
.sidebar h3 {
  font-size: 1.2rem;
  font-family: "Lora", serif;
  color: #143774;
  font-weight: lighter;
}
